<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
       
          <b-nav-item active><router-link to="/showview">Showview</router-link></b-nav-item>
               <b-nav-item active><router-link to="/form">Form</router-link></b-nav-item>
                <b-nav-item active><router-link to="/table">Table</router-link></b-nav-item>
     <b-nav-item active><router-link to="/about">About</router-link></b-nav-item>
    </b-nav>
  </div>
</template>